/*
*= require font-awesome
*= require plugins/bootstrap-themed.min
*= require plugins/bootstrap-datetimepicker
*= require custom
*= require_self
*/

/*----------------------------------------------

1. DIVIDERS DOC

------------------------------------------------*/
.divider15,
.divider25,
.divider50,
.divider100,
.divider150 {
	clear: both;
}

.divider10 {
	height: 10px;
}

.divider15 {
	height: 15px;
}

.divider25 {
	height: 25px;
}

.divider35 {
	height: 35px;
}

.divider50 {
	height: 50px;
}

.divider100 {
	height: 100px;
}

.divider150 {
	height: 150px;
}