.logo {
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.context-nav {
	margin-bottom: 15px;
}

.form-control, input {
	border-width: 1px;
}

.page-header {
	padding-bottom: 5px;
	margin: 25px 0;
	border-bottom: 1px solid #1c2734;
}

.repeat-container>.repeat-instance:nth-child(odd) {
	background-color: #ecf0f1 !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

.conditions-holder>.report-condition:nth-of-type(3n) {
	background-color: #ecf0f1 !important;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border: 1px solid #2C3E50;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #ffffff;
	}
}
span.required {
	color: #a21416;
	margin-right: 5px;
	font-size: 1.2em;
}

label.error {
	color: #a21416;
}

.form-group {
	margin-bottom: 10px;
}

.report-condition {
	margin-bottom: 5px !important;
}

.report-display-col {
	color: #fff;
	background-color: #78838F;
	margin-bottom: 1px;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0 5px 0 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	cursor: move;
}

.form-control {
	height: 36px;
	padding: 5px 10px;
	line-height: 1;
}

.form-group {
	margin-bottom: 5px;
}

.panel-footer {
	padding: 5px 10px;
}

.btn {
	padding: 5px 10px;
}

.alert {
	margin-bottom: 4px;
}
textarea.form-control {
	width: 100% !important;
}

body {
	padding-top: 70px;
	line-height: 1 !important;
}