/*
*= require plugins/bootstrap-table.min
*= require plugins/bootstrap-select.min
*= require bootstrap3-editable/css/bootstrap-editable
*= require_self
*/
.report-element {
	margin-right: 15px;
}

.report-element-validation-errors .error {
	display: block;
}