<html>
<head>
	<meta http-equiv="Refresh" content="0; url=form">
</head>
<body>
You shouldn't be seeing this page but in the rare event that you do, please visit
<g:link controller="form">data section instead!</g:link>
</body>
</html>